body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.icon {
  font-size: 35px;
  color: #ffffff;
}

.jj:active {
  background-color: aqua;
}